<h2>
<%=link_to "#{l:label_mailfolders} ##{@mailmessage.mailfolder.id}",:action => 'list', :mailfolder_id => @mailmessage.mailfolder.id %> &#187;
<%=h "#{l(:label_mailmessages)} ##{@mailmessage.id}" %>
</h2>

<div class="issue">
<%= display_messages_by_tree (@mailmessage) %>
<%if @mailmessage.issue_of_ancestor != nil  %>
  <hr />
  <%= link_to_issue_from_mailmessage(@mailmessage) %>
<%end%>
<%unless @mailmessage.done?%>
  <hr />
  <%unless @mailmessage.parent_id %>
    <% form_tag (:action => "set_parent", :id => @mailmessage.id) do %>
      <%= label_tag 'parent_id' %>:
      <%= text_field_tag 'parent_id' %> 
      <%= submit_tag "set!" %>
    <%end%>
  <%end%>
  <%= button_to_edit_issue(@mailmessage) %>
  <%= button_to_new_issue(@mailmessage) %>
  <%= button_to_seen(@mailmessage) %>
<%end%>
</div>

<div id="message_main" class="issue">
<p>
<b><%=h l(:field_from)%></b>
 <%=h @mailmessage.user %> :
 <%=h @mailmessage.from %>
</p>

<p>
<pre>
<%=h @mailmessage.notes %>
</pre>
</p>

<% if @mailmessage.attachments.any? %>
<hr />
<%= link_to_attachments @mailmessage %>
<% end %>
</div>
